@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Roboto+Slab:wght@300;500;700&display=swap");

:root {
  --brand: #ff4d29;
  --dark: #092032;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body {
  font-family: "Barlow", sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  color: var(--dark);
}

a {
  color: var(--white);
  transition: all 0.4s ease;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--brand);
}

img {
  width: 100%;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;
}

.intro {
  margin-bottom: 40px;
}

.intro h6 {
  font-weight: 400;
  color: var(--brand);
}

.intro p {
  max-width: 500px;
  margin: auto;
}

/* NavBar */
.top-nav {
  background: var(--brand);
  color: white;
  padding: 5px 0;
}

.top-nav p {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.social-links a {
  font-size: 14px;
}

.social-links a:hover {
  color: var(--body) !important;
}

.social-icons a {
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 100%;
  color: white;
}

.social-icons a:hover {
  background: white;
  color: var(--brand);
}

.navbar {
  box-shadow: var(--shadow);
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
  color: var(--brand);
}

.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  color: var(--dark);
}

.navbar-brand span {
  color: var(--brand);
}

/* Btn */
.btn {
  padding: 9px 24px;
  font-weight: 500;
}
.btn-brand {
  background-color: var(--brand);
  color: white;
  border-color: var(--brand);
}

.btn-brand:hover {
  color: white;
  background-color: #f53a14;
  transition: all 0.4s ease;
}
/* Btn End*/

/* NavBar End */

/* Slider */
.slide1 {
  background: linear-gradient(rgba(13, 47, 73, 0.4), rgba(11, 49, 78, 0.4)), url(../img/bg_banner1.jpg);
}

.slide2 {
  background: linear-gradient(rgba(13, 47, 73, 0.4), rgba(11, 49, 78, 0.4)), url(../img/bg_banner2.jpg);
}

/* Owl Courosel */
.owl-prev,
.owl-next {
  width: 60px !important;
  position: absolute;
  top: 50% !important;
  height: 60px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  margin-top: -30px !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 12px;
  border-radius: 100% !important;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: var(--brand) !important;
}

/* Owl Courosel End*/

/* Slider End */

/* ABOUT */
section {
  padding: 80px 0;
}

.LHS img {
  width: 80px;
}
/* ABOUT END */

/* MILESTONES */
#milestones {
  background: linear-gradient(rgba(255, 77, 41, 0.9), rgba(255, 77, 41, 0.9)), url(../img/bg_banner1.jpg);
}
/* MILESTONES END */

/* SERVICES */
.service-box {
  box-shadow: var(--shadow);
  padding: 32px;
}

.service-box img {
  width: unset;
}

.service-box h5 {
  margin-top: 24px;
  margin-bottom: 12px;
}
/* SERVICES END*/

/* PORTFOLIO */
.project {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.project h6 {
  font-weight: 400;
}

.project h6::before {
  content: "";
  height: 2px;
  width: 30px;
  display: inline-block;
  background: var(--brand);
  vertical-align: middle;
  margin-right: 10px;
}

.project .overlay {
  width: 100%;
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%, var(--dark) 100%);
}

.project .content {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.project h2,
.project h6 {
  color: #fff;
}

.owl-dot.active span {
  background-color: var(--brand) !important;
}
/* PORTFOLIO END */

/* TEAM */
.team-member .overlay {
  background-color: rgba(255, 77, 41, 0.8);
  height: 100%;
  width: 100%;
  top: -10%;
  right: 10%;
  transition: all 0.4s ease;
  opacity: 0;
}

.team-member .social-icons {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  opacity: 0;
}

.team-member:hover .overlay{
  opacity: 1;
  top: 0; 
  right: 0;
}

.team-member:hover .social-icons{
  opacity: 1;
  top: 50%; 
  left: 50;
}

.team-member .social-icons a {
  width: 40px;
  height: 40px;
  font-size: 16px;
  
}

/* TEAM END*/
